<div class="col-md-12">
  <h4>All Reviews</h4>
  <br>
  <table class="small table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>User</th>
        <th>Review Body</th>
        <th>Review Rating</th>
      </tr>
    </thead>
    <tbody>
      <% if restaurant.nil? || restaurant.reviews.blank? %>
        <tr>
          <td class='text-center' colspan="9"><h2> No one has reviewed this restaurant yet. </h2></td>
        </tr>
      <% else %>
        <% restaurant.reviews.each do |r| %>
          <tr>
            <td><%= r.id %></td>
            <td><%= r.user.email %></td>
            <td><%= r.body %></td>
            <td><%= r.rating %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
